
source ~/.vimrc
set surround
let mapleader = ' '

set number
set incsearch hlsearch
set ignorecase smartcase
set clipboard=unnamed
set showmode


" Reload .ideavimrc
nnoremap <leader>V :source ~/.ideavimrc<CR>

nnoremap U :action $Redo<CR>
nnoremap , :action ShowIntentionActions<cr>
nnoremap <leader>b :action ToggleLineBreakpoint<cr>
nnoremap <leader>B :action ViewBreakpoints<cr>
nnoremap <leader>c :action Back<cr>
nnoremap <leader>d :action GotoDeclaration<cr>
nnoremap <leader>D :action GotoImplementation<cr>
nnoremap <leader>e :action GotoNextError<cr>
nnoremap <leader>E :action GotoPreviousError<cr>
nnoremap <leader>f :action FindUsages<cr>
nnoremap <leader>F :action FindInPath<CR>
nnoremap <leader>H :action FileStructurePopup<cr>
nnoremap <leader>L :action ReformatCode<cr>
nnoremap <leader>n :action GotoClass<CR>
nnoremap <leader>q :action CloseContent<CR>
nnoremap <leader>Q :action CloseAllEditors<CR>
nnoremap <leader>s :action GotoSymbol<CR>
nnoremap <leader>v :action Forward<cr>
nnoremap <leader>/ :action CommentByLineComment<cr>

nnoremap K ciw
nnoremap <leader>" ci"
nnoremap <leader>' ci'
nnoremap <leader>[ ci[
nnoremap <leader>{ ci{
nnoremap <leader>( ci(



set clipboard+=ideaputset ideajoin
set clipboard+=unnamed
set clipboard+=ideaput